* {
    padding: 0;
    margin: 0;
    font-family: 'Saira Semi Condensed', sans-serif;
}

.user-picture {
    border-radius: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
}

.search-term {
    border-bottom: 2px solid #B51D97
}

#navbar {
    width: 100%;
    height: 70px;
    background: #fff;
    position: relative;
}

nav {
    margin: 0 auto;
    width: 990px;
}

#navbar #navbar-logo {
    position: absolute;
    top: 10px;
}

#navbar #navbar-options {
    margin: 0 auto;
    width: auto;
}

#navbar ul {
    list-style-type: none;
    padding: 15px 0;
    float: right;
}

#navbar ul li {
    position: relative;
    float: left;
}

#navbar ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: #000;
    display: block;
    font-family: 'Ubuntu', sans-serif;
}

#navbar ul li:last-child a img {
    position: absolute;
    top: -8px;
    right: -20px;
    padding: 2px;
}

#navbar ul li:last-child a img:hover {
    background: #B51D97;
}

#content {
    position: relative;
    width: 990px;
    margin: 0 auto;
    height: auto;
}

#content #search-bar {
    width: 990px;
    margin: 10px auto;
}

#content #search-bar #search-kind {
    margin: 10px 0;
}

#content #search-bar #search-kind label {
    margin-right: 20px;
}

#content #search-bar input[type=text] {
    height: 10px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    color: #B51D97;
    width: 100%;
    position: relative;
}

#content #search-bar #searchTerm {
    position: absolute;
    top: 42px;
    right: -15px;
    padding: 10px;
    background: none;
    border: none;
    outline: none;
}

#content #search-bar #searchTerm:hover {
    cursor: pointer;
}