* {
    padding: 0;
    margin: 0;
}

#navbar {
    width: 100%;
    height: 70px;
    background: #fff;
    position: relative;
}

nav {
    margin: 0 auto;
    width: 990px;
}

#navbar #navbar-logo {
    position: absolute;
    top: 10px;
}

#navbar #navbar-options {
    margin: 0 auto;
    width: auto;
    background: red;
}

#navbar ul {
    list-style-type: none;
    padding: 15px 0;
    float: right;
}

#navbar ul li {
    position: relative;
    float: left;
}

#navbar ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: #000;
    display: block;
    font-family: 'Ubuntu', sans-serif;
}

#navbar ul li a:hover {
    background: #B51D97;
    color: #fff;
    border-radius: 3px;
}

#content {
    position: relative;
    width: 990px;
    margin: 0 auto;
    height: auto;
}

#content #search-bar {
    width: 990px;
    
    margin: 10px auto;
    font-family: 'Saira Semi Condensed', sans-serif;
}

#content #search-bar input {
    height: 10px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #ccc;
    padding: 10px;
    color: #B51D97;
    width: 100%;
    position: relative;
}

#content #search-bar #searchTerm {
    position: absolute;
    top: 6px;
    right: 0px;
    background: none;
    border: none;
}